---
title: Meta
description: |
  Meta contains all the non-technical documents that conspire to make the standards
  project work: what the core values are, what the governance model is, how to produce documents,
  etc.
---

{% include 'header.html' %}

<main>
  <dl>
    <dt><a href="/meta/code-of-conduct/">Code of Conduct</a></dt>
    <dd>
      The code of conduct that all community participants are held to.
    </dd>
    <dt><a href="/meta/spec-for-specs/">Spec for Specs</a></dt>
    <dd>
      Specifies the format and system used to create and maintain specifications for
      the interplanetary stack.
    </dd>
  </dl>
</main>

{% include 'footer.html' %}
