---
title: Architecture
description: |
  These documents define the architectural principles that IPFS is built upon, and can be used as tools to evaluate
  implementations and applications of IPFS.
---

{% include 'header.html' %}

<main>
  <dl>
    <dt><a href="/architecture/principles/">IPFS Principles</a></dt>
    <dd>
      IPFS is a suite of specifications and tools that are defined by two key characteristics: content-addressing and
      transport-agnosticity. This document provides context and details about these characteristics. In doing so it defines what
      is or is not an IPFS implementation.
    </dd>
  </dl>
</main>

{% include 'footer.html' %}
