---
title: Architecture
description: |
  These documents capture the architectural principles that IPFS is built upon.
---

{% include 'header.html' %}

<main>
  <dl>
    <dt><a href="/architecture/principles/">IPFS Principles</a></dt>
    <dd>
      The IPFS stack is a suite of specifications and tools that share two key characteristics: content-addressing and
      transport-agnosticity. This document provides context and details about these claims. In doing so it defines what
      implementations are part of the IPFS ecosystem.
    </dd>
  </dl>
</main>

{% include 'footer.html' %}
