<dl>
  <dt><a href="/http-gateways/path-gateway/">Path Gateways</a></dt>
  <dd>
    The most versatile form of IPFS Gateway is a Path Gateway. It exposes namespaces like <code>/ipfs/</code> and
    <code>/ipns/</code> under an HTTP server root and provides basic primitives for integrating IPFS resources
    within the existing HTTP stack.
  </dd>
  <dt><a href="/http-gateways/trustless-gateway/">Trustless Gateways</a></dt>
  <dd>
    Trustless Gateways are a minimal <em>subset</em> of <a href="/http-gateways/path-gateway/">Path Gateways</a>
    that allow light IPFS clients to retrieve data behind a CID and verify its integrity without delegating any
    trust to the gateway itself.
  </dd>
</dl>
