<dl>
  <dt><a href="/http-gateways/dnslink-gateway/">DNSLink Gateways</a></dt>
  <dd>
    DNSLink Gateways are an extension of <a href="/http-gateways/path-gateway/">Path Gateways</a> that enable hosting a
    specific content path under a specific DNS name.
  </dd>
  <dt><a href="/http-gateways/subdomain-gateway/">Subdomain Gateways</a></dt>
  <dd>
    Subdomain Gateways are an extension of <a href="/http-gateways/path-gateway/">Path Gateways</a> that
    enable website hosting isolated per CID/name, while remaining compatible with web browsers relative pathing and
    the security model of the web.
  </dd>
  <dt><a href="/http-gateways/web-redirects-file/">Redirects File</a></dt>
  <dd>
    The Redirects File specification is an extension of the Subdomain Gateway and DNSLink Gateway specifications that
    enables URL redirects or rewrites by adding redirect rules to a0 file stored underneath the root CID of a web
    site.
  </dd>
</dl>
