---
title: Home
---

{% include 'head.html' %}

<header>
  <div>
    <img src="/img/ipfs-standards.svg" alt="Interplanetary Standards Logo" width="60" height="60" class="logo">
    <h1>IPFS Standards</h1>
    <p>
      The purpose of <em>IPFS Standards</em> is to foster interoperability between independent implementations of
      the IPFS stack by producing Internet-grade specifications and test suites.
    </p>
  </div>
</header>

<main>
  <h2 class="pitch-title">Specifying IPFS and the Interplanetary stack.</h2>
  <p class="pitch-subtitle">
    The technology that powers the content-addressable web is being standardized here.
  </p>
  <!--
  <div class="basic-grid">
    <div class="pitch">
      <h3>High-quality open standards</h3>
      <p>
        We aim to fully define implementation behaviour and to empower anyone to build their
        own system that fits into the interplanetary ecosystem without needing to reverse-engineer
        the behavior of other implementations.
      </p>
    </div>
    <div class="pitch">
      <h3>Comprehensive test suites</h3>
      <p>
        A specification is only as useful as it is both testable and tested. We are building extensive
        test suites that allow specifications to prove their interoperability and implementations to demonstrate
        their correctness.
        </p>
    </div>
    <div class="pitch">
      <h3>Testing infrastructure</h3>
      <p>
        We build tools to support detecting interoperability issues early and often as part of CI/CD pipelines
        and to report on implementation maturity as the stack evolves so that people who build on top of the
        interplanetary stack can know what they can use in production.
      </p>
    </div>
    <div class="pitch">
      <h3>An open governance model</h3>
      <p>
        We guarantee community ownership of the standards, of the standards-production process, and of
        the infrastructure to operate it, in collective pursuit of efficient, transformative, ethical
        technology.
      </p>
    </div>
  </div>
  -->
  <section>
    <h2>Specifications</h2>
    <p>
      The specifications are broken up into multiple areas that cover the stack.
    </p>
    <div class="basic-grid">
      <section>
        <h3><a href="/http-gateways/">HTTP Gateways</a></h3>
        <p>
          IPFS Gateway acts as a bridge between traditional HTTP clients and IPFS. Through the gateway, users can download files,
          directories and other IPLD data stored in IPFS as if they were stored in a traditional web server.
        </p>
        {% include 'specs/http-gateways/http.html' %}
        {% include 'specs/http-gateways/web.html' %}
      </section>
      <section>
        <h3><a href="/ipns/">InterPlanetary Naming System</a></h3>
        <p>
          The InterPlanetary Naming System (IPNS) is a naming system responsible for creating, reading and updating mutable pointers to data.
        </p>
        {% include 'specs/ipns.html' %}
      </section>
      <section>
        <h3><a href="/architecture/">Architecture</a></h3>
        <p>
          These documents define the architectural principles that IPFS is built upon, and can be used as tools to evaluate
          implementations and applications of IPFS.
        </p>
        {% include 'specs/architecture.html' %}
      </section>
      <section>
        <h3><a href="/meta/">Meta</a></h3>
        <p>
          <em>Meta</em> contains all the non-technical documents that conspire to make the standards
          project work: what the core values are, what the governance model is, how to produce documents,
          etc.
        </p>
        {% include 'specs/meta.html' %}
      </section>
    </div>
  </section>
</main>

{% include 'footer.html' %}
